.parent {
  position: relative;
}

.child-one{
  position: fixed;
  right: 50px;
  top: 0;
}

.child-two{
  position: relative;
  left: 40px;
}

.child-three{
  position: absolute;
  left: 50%;
  top: 50%;
}